@media only screen and (min-width: 38rem) {
    #hamButton {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    h1 {
        padding: .5rem;
        text-align: left;
    }
    .top {
        background-color: white;
    }
    nav {
        grid-template-rows: 1fr;
    }
    ul.menuLinks, ul.menuLinks.open {
        display: flex;
        justify-content: flex-end;
    }
    .heading {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: 2rem;
    }
    #playing {
        display: grid;
    }
    .currentFavs img {
        width: 150px;
        height: 150px;
    }
    .currentFavs figcaption {
        font-size: 1.2rem;
        margin: .5rem;
    }
    .overlay {
        max-width: 400px;
        position: absolute;
        top: 60%;
        left: 40%;
    }
    #cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
    }

}
@media only screen and (min-width: 1140px) {
    .currentFavs img {
        width: 200px;
        height: 200px;
    }
}
@media only screen and (min-width: 60rem) {
    body {
        max-width: 80%;
        margin: 0 auto;
    }
    .family {
        text-align: center;
    }
}