:root {
    --red: #c12131;
    --gray: #8A8D91;
    --green: #D6F6DD;
    --black: #1E2019;
}
* {
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    color: var(--black);
    margin: 0;
    padding: 0;
}
main {
    margin: 0 auto;
    max-width: 95%;
}
/* Header */
header {
    overflow: hidden;
    margin-bottom: 2rem;
}
.top {
    background-color: var(--red);
}
/* NAVIGATION BAR */
#hamButton::before {
    content: "\2630";
    color: white;
}

#hamButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    width: 44px;
    position: absolute;
    text-align: left;
    padding: .25rem 1vw;
    top: 0;
    right: 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    text-decoration: none;
    text-align: center;
    font-family: "Bangers", system-ui;
    letter-spacing: .1rem;
    font-size: 1.2rem;
}

li.active a::before {
    content: "🎲 ";
}
ul.menuLinks a:hover {
    text-decoration: 2px underline var(--red);
}
ul.menuLinks {
    padding: 0;
    margin: 0;
    list-style-type: none;

}
#hamButton.open::before {
    content: " x";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
nav ul {
    overflow: hidden;
}
nav.open {
    grid-template-rows: 1fr;
}
#playing {
    display: none;
}
h2, h1 {
    font-family: "Bangers", system-ui;
    letter-spacing: .1rem;
    text-align: center;
}
.standout,
.newsletter {
    padding: 2rem;
    background-color: var(--green);
}
p, span {
    font-size: 1.2rem;
}
.favGames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.currentFavs {
    text-align: center;
    margin: 2rem;
}
.currentFavs figure {
    margin: 1rem 0;
}
.currentFavs img {
    width: 100px;
    height: 100px;
    box-shadow: 5px 5px 10px var(--gray);
    border-radius: 5px;
}
.currentFavs img:hover {
    opacity: .5;
}
hr {
    border: 2px solid var(--black);
}
.family {
    margin: 1rem;
    margin-top: 3rem;
    position: relative;
    min-height: 350px;
    text-align: center;
}
.family img,
#playing {
    border: 3px solid var(--red);
    box-shadow: 5px 5px 10px var(--gray);
    margin-bottom: 1rem;
}
.overlay {
    background-color: #e6e6eac8;
    padding: .5rem;
    box-shadow: 5px 5px 10px var(--gray);
}
.newsletter {
    text-align: center;
}
.newsletter p {
    padding: .3rem;
    font-size: 1.2rem;
}
.signup,
#submitBtn {
    padding: .5rem;
    margin: 2rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    font-family: "Bangers", system-ui;
    letter-spacing: .1rem;
    border: 3px solid var(--red);
    border-radius: 5px;
    background: linear-gradient(white, var(--gray));
    box-shadow: 5px 5px 10px var(--gray);
}
dialog {
    padding: 1rem;
}
dialog div {
    display: grid;
    grid-template-columns: 1fr 44px;
}
dialog p {
    padding: .5rem;
    text-align: left;
}
dialog {
    border: 2px solid var(--red);
    border-radius: 5px;
    background-color: white;
    margin: auto;
    box-shadow: 0 0 10px;
}
dialog button {
    border-color: var(--red);
    border-radius: 5px;
}
::backdrop {
    background-color: rgba(162, 162, 162, 0.695);
}
/* SIGNUP DIALOG */

.newsletter dialog form fieldset {
    text-align: left;
}
.newsletter dialog form fieldset label{
    display: block;
    color: var(--red);
    text-align: left;
}
.newsletter dialog form fieldset input {
    margin: .5rem;
}
.newsletter dialog form {
    padding: 1rem;
}
#submitBtn {
    padding: 1rem;
    margin: 1rem;
}

/* FOOTER */

footer {
    margin-top: 1em;
    padding: .7rem;
    border-bottom: 30px solid var(--red);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#social {
    text-align: right;
}
#social img {
    margin: .4rem;
}

/* GAME DIRECTORY  */
.menu button {
    margin: .5em;
    font-size: 2em;
    padding: .1em;
    min-width: 50px;
}
.filters {
    display: flex;
    margin-bottom: .8rem;
}
.filters button {
    padding: .5rem;
    margin: .5rem .2rem;
    border-color: var(--red);
    box-shadow: 1px 1px 4px var(--gray);
}
.filters button:hover {
    opacity: 50%;
    cursor: pointer;
}

#cards section {
    border-radius: 10px;
    margin: .75em auto;
    place-content: center;
    text-align: center;
    box-shadow: 2px 3px 5px 5px gray;
    width: 250px;
    height: 325px;
    padding: .5em;
    position: relative;
    border: 2px solid var(--black);
}
#cards section 
#cards section:hover {
    cursor: pointer;
}
#top-left {
    text-align: left;
    position: absolute;
    top: 10px;
    font-size: 1.5rem;
}
#bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.5rem;
}
#numPlayers, 
#ages {
    display: none;
}
#cards img {
    height: 120px;
    width: auto;
    box-shadow: 2px 3px 5px 2px rgb(182, 181, 181);
    border-radius: 3px;
    border: 1px solid var(--red);
    margin: .7rem;
}
.list #numPlayers, 
.list #ages {
    display: block;
}

#cards.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
#cards.list section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.5fr;
    margin: 0;
    padding: .25rem 0;
    box-shadow: none;
    border: none;
    border-radius: 0%;
    margin: .5em auto;
    min-width: 100%;
    max-height: 200px;
    align-items: center;
}
.list #top-left,
.list #bottom-right {
    display: none;
}

#cards.list section > * {
    margin: 0 1rem;
}
#cards.list section img {
    display: none;
}
#cards.list section:nth-child(odd) {
    background-color: var(--green);
}
h3 {
    font-family: "Bangers", system-ui;
    text-align: center;
    letter-spacing: .1rem;
}
h4 {
    text-align: center;
    margin: .75rem;
}
#visits p {
    padding: 1rem;
    text-align: center;
}